<div class="host padding">

  <div class="head margin-top">
    <h2>Truncate</h2>
    <p class="font-lg text-medium-shade">Truncate text ...</p>
  </div>
  
  <div class="imports margin-top">
    <app-code
      title="Minimum imports:"
      showLang="css"
      htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@unistylus/bootstrap-css@latest/utilities/truncate.min.css&#x22;&#x3E;"
      htmlLabel="CSS"
      cssCode="@import '@unistylus/bootstrap/utilities/truncate';"
      cssLabel="SCSS"
    ></app-code>
  </div>

</div>