$bootstrap_icons: 'https://unpkg.com/@unistylus/bootstrap-icons@latest';
$material_icons: 'https://unpkg.com/@unistylus/material-icons@latest';

@mixin register_icons($collection) {
  @each $name, $config in $collection {
    $pack: nth($config, 1);
    $srcOrName: nth($config, 2);
    .icon-#{$name} {
      @if $pack == 'direct' {
        background-image: url('#{$srcOrName}');
      } @else {
        @if $srcOrName != null {
          background-image: url('https://unpkg.com/@unistylus/#{$pack}-icons@latest/#{$srcOrName}.svg');
        } @else {
          background-image: url('https://unpkg.com/@unistylus/#{$pack}-icons@latest/#{$name}.svg');
        }
      }
    }
  }
}

@mixin register_app_icons($groups) {
  // properties
  @each $theme, $icons in $groups {
    @if $theme != 'default' {
      // custom
      [data-theme="#{$theme}"] {
        @each $name, $url in $icons {
          --app-icon-#{$name}: url(#{$url});
        }
      }
    } @else {
      // default
      :root, [data-theme="default"] {
        @each $name, $url in $icons {
          --app-icon-#{$name}: url(#{$url});
        }
      }
    }
  }

  // rules
  $icons: map-get($groups, 'default');
  @each $name, $url in $icons {
    .icon-#{$name} {
      background-image: var(--app-icon-#{$name});
    }
  }
}

@mixin register_component_icon_properties($groups, $component_name) {
  @each $theme, $icons in $groups {
    @if $theme != 'default' {
      // custom
      [data-theme="#{$theme}"] {
        @each $name, $url in $icons {
          --component-#{$component_name}-icon-#{$name}: url(#{$url});
        }
      }
    } @else {
      // default
      :root, [data-theme="default"] {
        @each $name, $url in $icons {
          --component-#{$component_name}-icon-#{$name}: url(#{$url});
        }
      }
    }
  }
}

@mixin register_component_icon_rules($icons, $component_name) {
  @each $name, $url in $icons {
    .icon-#{$name} {
      background-image: var(--component-#{$component_name}-icon-#{$name});
    }
  }
}
