$bootstrap_icons: 'https://unpkg.com/@unistylus/bootstrap-icons@latest';
$material_icons: 'https://unpkg.com/@unistylus/material-icons@latest';
$fluent_icons: 'https://unpkg.com/@unistylus/fluent-icons@latest';

@mixin register_icons($collection) {
  @each $name, $config in $collection {
    $pack: nth($config, 1);
    $srcOrName: nth($config, 2);
    $packVersion: nth($config, 3);
    .icon-#{$name} {
      @if $pack == 'direct' {
        background-image: url('#{$srcOrName}');
      } @else {
        @if $srcOrName != null {
          @if $packVersion != null {
            background-image: url('https://unpkg.com/@unistylus/#{$pack}-icons@#{$packVersion}/#{$srcOrName}.svg');
          } @else {
            background-image: url('https://unpkg.com/@unistylus/#{$pack}-icons@latest/#{$srcOrName}.svg');
          }
        } @else {
          @if $packVersion != null {
            background-image: url('https://unpkg.com/@unistylus/#{$pack}-icons@#{$packVersion}/#{$name}.svg');
          } @else {
            background-image: url('https://unpkg.com/@unistylus/#{$pack}-icons@latest/#{$name}.svg');
          }
        }
      }
    }
  }
}

@mixin register_theme_icons($data) {
  // properties
  @each $theme, $icons in $data {
    @if $theme != 'default' {
      // custom
      [data-theme="#{$theme}"] {
        @each $name, $url in $icons {
          --app-icon-#{$name}: url(#{$url});
        }
      }
    } @else {
      // default
      :root, [data-theme="default"] {
        @each $name, $url in $icons {
          --app-icon-#{$name}: url(#{$url});
        }
      }
    }
  }

  // rules
  $icons: map-get($data, 'default');
  @each $name, $url in $icons {
    .icon-#{$name} {
      background-image: var(--app-icon-#{$name});
    }
  }
}

@mixin register_group_theme_icon_properties($data, $group_name) {
  @each $theme, $icons in $data {
    @if $theme != 'default' {
      // custom
      [data-theme="#{$theme}"] {
        @each $name, $url in $icons {
          --group-#{$group_name}-icon-#{$name}: url(#{$url});
        }
      }
    } @else {
      // default
      :root, [data-theme="default"] {
        @each $name, $url in $icons {
          --group-#{$group_name}-icon-#{$name}: url(#{$url});
        }
      }
    }
  }
}

@mixin register_group_theme_icon_rules($icons, $group_name) {
  @each $name, $url in $icons {
    .icon-#{$name} {
      background-image: var(--group-#{$group_name}-icon-#{$name});
    }
  }
}
