<div class="page-install padding">

  <div class="head margin-top">
    <h2>Install</h2>
    <p class="font-lg text-medium-shade">You can use Unistylus with CSS or SCSS</p>
  </div>

  <section class="section-1 margin-top-2x">
    <h3>SCSS</h3>
    <p class="margin-top">Install skins & mixins:</p>
    <app-code htmlCode="npm install --save @unistylus/core"></app-code>
    <p class="margin-top">Install soul:</p>
    <app-code htmlCode="npm install --save @unistylus/bootstrap"></app-code>
    <p class="margin-top">
      See, <a [usefulRouterLink]="['soul', 'builtin-souls']">list of souls</a>.
    </p>
  </section>

  <section class="section-2 margin-top-2x">
    <h3>CDN</h3>
    <p class="margin-top">Import skins from a CDN:</p>
    <app-code htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@unistylus/core@latest/css/skins/light-default.min.min.css&#x22;&#x3E;"></app-code>
    <p class="margin-top">Import soul from a CDN:</p>
    <app-code htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@unistylus/bootstrap-css@latest/full.min.min.css&#x22;&#x3E;"></app-code>
    <p class="margin-top">
      See, <a [usefulRouterLink]="['soul', 'builtin-souls']">list of souls</a>.
    </p>
  </section>

</div>
