<div class="host">

  <section class="heading">

    <div class="text">
      <h1>
        <span class="text-primary">U</span>
        <span class="text-secondary">n</span>
        <span class="text-tertiary">i</span>
        <span class="text-success">s</span>
        <span class="text-warning">t</span>
        <span class="text-danger">y</span>
        <span class="text-primary">l</span>
        <span class="text-medium">u</span>
        <span class="text-foreground">s</span>
      </h1>
      <p>Just another <strong class="text-foreground">modern</strong>, <strong class="text-foreground">clean</strong> and <strong class="text-foreground">light weight</strong> CSS framework.</p>
    </div>
  
    <div class="cta">
      <a
        class="button-primary-xl"
        [routerLink]="['/guide', 'usage']"
      >Use it now!</a>
      <a
        class="source-code button-outline-medium-xl"
        href="https://github.com/unistylus/core"
        target="_blank"
      >
        <i class="icon icon-github"></i>
        <span>Source code</span>
      </a>
    </div>

  </section>

  <section class="intro margin-top-5x">
    <div class="title"><h2>Introduction</h2></div>
    <div class="body">
      <p class="text-medium" style="font-size: 1.2rem;">This is just another UI framework that nobody want to use, <a href="https://lamnhan.com" target="_blank">but me</a>, or isn't it?</p>
      <p>It is an effort of unifying the web UI development experience:</p>
      <ul>
        <li>💚 Just standard HTML, CSS/SCSS & JS (when needed).</li>
        <li>🌓 Supports multiple skins in app runtime.</li>
        <li>👌 No icon fonts; only register whatever icons you ever need.</li>
        <li>⚡ Imports just the parts you want.</li>
        <li>🔨 Customize to the bone, at microscopic level.</li>
        <li>🔌 Replacement (-ish) for other frameworks.</li>
        <li>😍 A member of the <a href="https://lamnhan.com/works" target="blank">Lam Nhan Ecosystem</a></li>
      </ul>
    </div>
  </section>

  <section class="action margin-top-5x">
    <div class="title"><h2>List of collection</h2></div>

    <div class="body">

      <div class="collection-list margin-top-2x">
        <p>Here are several collections as a proof of concept. There are lots of works to be done. 😅</p>
        <ul>
          <li>
            <a href="https://unistylus-bootstrap.lamnhan.com" target="_blank">
              <img src="https://img.icons8.com/color/48/000000/bootstrap.png"/>
              <span>Bootstrap</span>
            </a>
          </li>
          <li>
            <a href="https://unistylus-bootstrap.lamnhan.com" target="_blank">
              <img src="https://img.icons8.com/color/48/000000/material-ui.png"/>
              <span>Material</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="false">
              <img src="https://img.icons8.com/fluent/48/000000/connection-status-off.png"/>
              <span>More collections!</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </section>

  <section class="installation margin-top-5x">

    <div class="title"><h2>Installation</h2></div>

    <div class="body">

      <nguix-content [content]="installationContent"></nguix-content>

      <div class="margin-top">
        <a
          class="button-outline-primary"
          [routerLink]="['/guide', 'usage']"
        >Next, see usage!</a>
      </div>

    </div>

  </section>

</div>
