<div class="page-introduction padding">

  <div class="head margin-top">
    <h2>Introduction</h2>
    <p class="font-lg text-medium-shade">Just another UI framework.</p>
  </div>

  <section class="section-1 margin-top-2x">
    <p>Use this to build Web apps with multiple themes in mind.</p>
    <ul>
      <li>💚 Just standard HTML, CSS/SCSS & JS (when needed).</li>
      <li>🌓 Supports multiple skins in app runtime.</li>
      <li>👌 No icon fonts; only register whatever icons you ever need.</li>
      <li>⚡ Imports just the parts you want.</li>
      <li>🔨 Customize to the bone, at microscopic level.</li>
      <li>🔌 Drop in replacement (-ish) for other frameworks.</li>
      <li>😍 A member of the <a href="https://lamnhan.com/works" target="blank">Lam Nhan Ecosystem</a></li>
    </ul>
  </section>

</div>
