/* You can add global styles to this file, and also import other style files */

/**
 * ====================================================
 * 3rd parties
 * ====================================================
 */

// prismjs
@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';

/**
 * ====================================================
 * Unistylus
 * ====================================================
 */

// register skins
@import '@unistylus/core/scss/skins/light-default';
@import '@unistylus/core/scss/skins/dark';

// customize a skin
// :root,
// [data-theme=default],
// [data-theme=light]
// {
//   --app-color-primary: ...;
// }

// register a soul
// in the index.html (for dynamic demonstration purpose)

// register app
@import './theming/app.module';

/**
 * ====================================================
 * Global styles 
 * ====================================================
 */

.code {

  .source {
    padding: 1.5rem;
    border: 1px solid rgba(var(--app-color-medium-rgb), .5);
    border-radius: 5px 5px 0 0;

    br, hr {
      display: none;
    }
  }

  .display {
    margin-top: -.5rem;

    nguix-content markdown pre {
      border-radius: 0 0 5px 5px !important;
    }
  }

}