@import '@unistylus/core/scss/mixins';

$shared_icons: ();

$light_theme_icons: (
  menu: '#{$bootstrap_icons}/light/list.svg',
  github: '#{$bootstrap_icons}/light/github.svg',
);

$dark_theme_icons: (
  menu: '#{$bootstrap_icons}/dark/list.svg',
  github: '#{$bootstrap_icons}/dark/github.svg',
);

@include register_app_icons(
  (
    light: $light_theme_icons,
    dark: $dark_theme_icons,
    default: map-merge($shared_icons, $light_theme_icons),
  )
);