<div class="menu">

  <div class="head">

    <div class="title truncate">
      <span (click)="mobileMenuExpanded=!mobileMenuExpanded">Documentation</span>
    </div>

    <div class="toggler">
      <button (click)="mobileMenuExpanded=!mobileMenuExpanded">
        <i class="icon icon-menu"></i>
      </button>
    </div>

  </div>

  <div class="body" [class.expanded]="mobileMenuExpanded">
  
    <ul class="menu-items">

      <li *ngFor="let menuItem of menuItems">
        <a
          *ngIf="menuItem.level!==0;else noLinkElse"
          [href]="menuItem.href"
          [usefulRouterLink]="menuItem.routerLink"
          usefulRouterLinkActive="active"
          (click)="mobileMenuExpanded=false"
          [innerHtml]="menuItem.text"
        ></a>
        <ng-template #noLinkElse>
          <strong class="margin-top-2x">{{menuItem.text}}</strong>
        </ng-template>
      </li>

    </ul>

  </div>

</div>
