<div class="menu">

  <div class="head">

    <div class="title">
      <span class="truncate" (click)="mobileMenuExpanded=!mobileMenuExpanded">Documentation</span>
    </div>

    <select id="theme-selector" (change)="selectTheme($event)">
      <optgroup label="Select a skin:">
        <option value="light" [selected]="settingService.theme === 'light'">Light</option>
        <option value="dark" [selected]="settingService.theme === 'dark'">Dark</option>
      </optgroup>
    </select>

    <select id="soul-selector" (change)="selectSoul($event)">
      <optgroup label="Select a soul:">
        <option value="bootstrap" [selected]="soulService.soul === 'bootstrap'">Bootstrap</option>
        <option value="material" [selected]="soulService.soul === 'material'">Material</option>
      </optgroup>
    </select>


    <div class="toggler">
      <button
        [class.expanded]="mobileMenuExpanded"
        (click)="mobileMenuExpanded=!mobileMenuExpanded"
      >
        <i class="icon icon-right"></i>
      </button>
    </div>

  </div>

  <div class="body" [class.expanded]="mobileMenuExpanded">
  
    <ul class="menu-items">

      <li *ngFor="let menuItem of menuItems">
        <a
          *ngIf="menuItem.level!==0;else noLinkElse"
          [href]="menuItem.href"
          [usefulRouterLink]="menuItem.routerLink"
          usefulRouterLinkActive="active"
          (click)="mobileMenuExpanded=false"
          [innerHtml]="menuItem.text"
        ></a>
        <ng-template #noLinkElse>
          <strong class="margin-top-2x">{{menuItem.text}}</strong>
        </ng-template>
      </li>

      <li><strong class="margin-top-2x">Parts</strong></li>

      <li *ngFor="let soulArticle of soulService.soulArticles">
        <a
          [href]="soulArticle.href"
          [usefulRouterLink]="soulArticle.routerLink"
          usefulRouterLinkActive="active"
          (click)="mobileMenuExpanded=false"
          [innerHtml]="soulArticle.text"
        ></a>
      </li>

    </ul>

  </div>

</div>
