<div class="page-contribute padding">

  <div class="head margin-top">
    <h2>Contribution</h2>
    <p class="font-lg text-medium-shade">Welcome, want to lend a hand?</p>
  </div>

  <section class="section-1 margin-top-2x">
    <h3>Add features</h3>
    <ul>
      <li>More skins</li>
      <li>More souls</li>
      <li>More icon packs</li>
    </ul>
  </section>

  <section class="section-2 margin-top-2x">
    <h3>Fix bugs</h3>
    <p>Spot broken things? Please submit issues or make a pull request.</p>
  </section>

  <section class="section-3 margin-top-2x">
    <h3>Write docs</h3>
    <p>Fix typos or add more articles.</p>
  </section>
  
  <section class="section-4 margin-top-2x">
    <h3>Contributors</h3>
    <ul>
      <li><a href="https://lamnhan.com" target="_blank">Lam Nhan</a>: Creator of this and many more</li>
    </ul>
  </section>

</div>
