<div class="page-usage padding">

  <div class="head margin-top">
    <h2>Usage</h2>
    <p class="font-lg text-medium-shade">Include CSS or import SCSS with built-in skins and souls.</p>
  </div>

  <section class="section-1 margin-top-2x">
    
    <p class="margin-top">Import what you want:</p>
    <app-code [cssCode]="scssCode"></app-code>    
    <p class="margin-top">
      See, <a [usefulRouterLink]="['soul', 'builtin-souls']">list of souls</a>.
    </p>

    <p class="margin-top">Or, include what you want:</p>
    <app-code [htmlCode]="cssCode"></app-code>
    <p class="margin-top">
      See, <a [usefulRouterLink]="['soul', 'builtin-souls']">list of souls</a>.
    </p>
  </section>

  <section class="section-3 margin-top-2x">
    <h3>Apply a skin</h3>

    <p>To change skin using Javascript:</p>
    <app-code jsCode="document.body.setAttribute('data-theme', 'dark');"></app-code>

    <p class="margin-top">For Angular apps, it is recommended to use <a href="https://ngx-useful.lamnhan.com" target="_blank">@lamnhan/ngx-useful</a>, the <a href="https://ngx-useful.lamnhan.com/service/setting" target="_blank">SettingService</a> provides <code>.changeTheme()</code> method with local storage management.</p>
  </section>

  <section class="section-4 margin-top-2x">
    <h3>Use mixins</h3>
    <p>To use mixins:</p>
    <app-code cssCode="@import '~@unistylus/core/scss/mixins';"></app-code>
  </section>

</div>
